<div id="filter">
  <%= form_tag(re_entrants_path, method: :get) do %>
    <%= collection_select :re_entrant, :for_neighborhood, ReEntrant.all, :neighborhood, :neighborhood, prompt: true %>
    <%= submit_tag("Filter") %>
  <% end %>
</div>