<div id="filter">
  <%= form_tag(reentrants_path, method: :get) do %>
    <%= collection_select :re_entrant, :for_neighborhood, Resource.all, :neighborhood, :id, prompt: true %>
    <%= submit_tag("Filter") %>
  <% end %>
</div>