<div class="container">

	<!-- <p id="notice"><%= notice %></p> -->


<h3>Create an Account</h3>

<p>Sign up to view our resource pool of employment, educational, job training resources, and more.

<%= render 'form', re_entrant: @re_entrant %>

</div>



