<div class="container">

<%= render partial: "partials/form2_structure", locals: {object: @re_entrant, 
                                                        type_of_form: "New Reentrant",
                                                        fields1: "reentrant_fields",
                                                        section_2: "User Account",
                                                        fields2: "user_fields"} %>


</div>



