<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>
      You have have been referred to <a href="https://newera412.herokuapp.com/resources/<%=@resource.id%>"><%=@resource.name%></a> by <%= @sow.user.name %>.
    </p>
    <p>
      You can also access the NewERA412 website with the link below. <br>
      <a href="https://newera412.herokuapp.com">https://newera412.herokuapp.com</a>
    </p>
    <p>We hope to keep in touch!</p>
    <p>Sincerely,<br>The NewERA412 team</p>
  </body>
</html>