



<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <%= link_to 'Home', index_path %>
          </li>
          <li>
            <%= link_to 'About NewERA412', about_path %>
          </li>
          
        </ul>
      </nav>
      
    </div>
  </footer>