<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <%= link_to 'Home', index_path %>
          </li>
          <li>
            
          </li>
        </ul>
      </nav>
    </div>
  </footer>