


 <nav>
    <div class="nav-wrapper amber">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Resources', resources_path %></li>
        <li>My Referrals</li>
        <li>Create an Account</li>
        <li>About</li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to 'Resources', resources_path %></li>
        <li>My Referrals</li>
        <li>Create an Account</li>
        <li>About</li>
        <li><%= link_to 'Logout', logout_path %></li>
  </ul>