<!-- <div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    LOGO
  </div>
  
  </div>
</div>
 -->

 <nav id="nav">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Resources', resources_path %></li>
      </ul>
  </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
   <li><%= link_to 'Resources', resources_path %></li>
  </ul>