  <div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/images/pittsburgh.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Welcome, <%=current_user.name%></h3>
          <h1 class="title">Unlock Your Potential</h1>
          <br>
          <%= render partial: "resources/search" %>
          <a href="/resources" class="btn btn-primary btn-raised btn-lg">View All Resources</a>
        </div>
      </div>
    </div>
  </div>

	
