<div class="row">
    <div class="col s12 center">
    <h2 id="headline">Resources</h2>
    <p>We provide a variety of employment and educational resources for returning citizens. Filter through our categories to secure the right resource for you.</p>

    <%= render 'resources/search' %>
    
  </div>
</div>
