<!-- <div id="index-banner" class="parallax-container">
 -->    
 <!-- <div class="section no-pad-bot"> -->

 


      <!-- <div class="container">
        <br><br>
        <h1 class="header teal-text text-lighten-2">Unlock Your Potential</h1>
        <div class="row">
          <h5 class="header col s12 light">Join NewERA412 to view resources for returning citizens.</h5>
        </div>
        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light amber accent-3 lighten-1">SIGN UP</a>
        </div>

        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light amber accent-3 lighten-1">LOG IN</a>
        </div>

        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light amber accent-3 lighten-1">STREET OUTREACH PORTAL</a>
        </div>
        <br><br>

      </div>  -->
    <!-- </div> -->
   
<!--   </div> -->


<!-- photo that takes up whole screen !--> 


  <!--   <div class="container1">
        <div class="bg">
            <%= image_tag 'bridge4.jpg'%>
        </div>

        <div class="container">
            <h1 class="header">Unlock Your Potential</h1>
            <h3> Join NewERA412 to view resources for returning citizens.</h3>

             <div class="row center">
              <a href="/" id="download-button" class="btn-large waves-effect waves-light amber accent-3 lighten-1">SIGN UP</a>
            </div>

            <div class="row center">
              <a href="/" id="download-button" class="btn-large waves-effect waves-light amber accent-3 lighten-1">LOG IN</a>
            </div>

            <div class="row center">
              <a href="/" id="download-button" class="btn-large waves-effect waves-light amber accent-3 lighten-1">STREET OUTREACH PORTAL</a>
            </div>

          </div>

            
        </div>
    </div> -->

   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Unlock Your Potential</h1>
        <div class="row center">
          <h5 class="header col s12 light">Join NewERA412 to view resources for returning citizens.</h5>
        </div>
        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>

          <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Log In</a>
        </div>

        <div class="row center">

          <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Street Outreach Portal</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <%= image_tag 'pittsburgh.jpg'%>
    </div>
  </div>
