<% if !logged_in? %>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/images/pittsburgh.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Unlock Your Potential</h1>
          <h4>Join NewERA412 to view variety of employment and educational resources and secure the right resource for you.</h4>
          <br>
          <a href="/re_entrants/new" class="btn btn-primary btn-raised btn-lg">Sign Up</a>
          <a href="/login" class="btn btn-default btn-raised btn-lg">Log In</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">About Us</h2>
            <h5 class="description"><p>NewERA412 is Pittsburgh's first restorative practice based  interim management firm for social service orginizations, governemnt agencies, employers, and foundations. Our award winning experts assist organizations who are undergoing major change, trying to implement a critical strategy or are looking to plug a critical management gap. </p>

<p>Our mission is to reduce the dissonance among social service efforts and that serve communities, while presenting the opportunity to truly diversify the human capital of social service organizations, government agencies, employers, and foundations. NewERA412 emphasizes the historical context of relationships among society and those who offend in our project planning and design. We provide a restorative approach to promote solidarity and stability among organizations on the micro, mezzo, and macro systems level.</p></h5>
          </div>
        </div>
       
        </div>
      </div>
    
        </div>
      </div>
    </div>
  </div>
  <% elsif current_user.role?(:reentrant) %>
    <%= render partial: 'reentrant_home' %>
  <% elsif current_user.role?(:sow) %>
    <%= render partial: 'sow_home' %>
  
<% end %>