<div id="filter">
  <%= form_tag(resources_path, method: :get) do %>
    <%= collection_select :resource, :tagged_with, Tag.all, :name, :name, prompt: true %>
    <%= submit_tag("Filter") %>
  <% end %>
</div>


