<p id="notice"><%= notice %></p>

<%= render 'search' %>

<h1>Resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Webpage</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <%= render partial: "search", locals: {object: @resource} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
