
/* overall styles */

html {
	font-family: 'Source Sans Pro', sans-serif;
	/*background-color: #F3F5F6;*/
}

h1 {
	font-size: 2.3em;
}

h3 {
	font-size: 1.4em;
}

body {
	padding-top: 4em;
}

#search {
	padding-top: 1em;
}

th, td {
  padding: 15px;
  text-align: left;
}