
/* overall styles */

html {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #F3F5F6;
}



h1 {
	font-size: 2.3em;
}

h3 {
	font-size: 1.4em;
}


.parallax-container .parallax img {
    
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%);
}