<div class="container">


<h2>Referrals</h2>
<%= render 'filter' %>
<% if @transactions.empty? %>
  <h4> No referrals have been made at this time </h4>

<% else %>
  
  <table>
    <thead>
      <tr>
        <th>Outreach Worker </th>
        <th>User </th>
        <th>Resource </th>
        <th>Resource Used </th>

        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.by_recent.each do |referral| %>
        <tr>
          <td> <%= link_to referral.outreach_worker.user.name, outreach_worker_path(referral.outreach_worker) %></td>

     
          <td> <%= link_to referral.re_entrant.user.name, re_entrant_path(referral.re_entrant) %></td>

          <td> <%= link_to referral.resource.name, resource_path(referral.resource) %></td>
          <td>

          <% if referral.resource_accessed %>
            Yes
          <% else %>
            No
          <% end %> </td>

</tr>      <% end %>
    </tbody>
  </table>

<% end %>

<br>


</div>